body {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.banner {
  margin: 60px;
}

.banner img {
  height: 440px;
  width: 1480px;
}

.email {
  margin: 10px
}

#button {
  margin-left: 50px;
}

.logos {
  width: 1480px;
  height: 200px;
  margin: auto;
}

.logos img {
  margin: 5px;
  height: 36px;
  width: 36px;
  float: right;

}

.footer {
      position: fixed;
      bottom: 10px;
      width: 100%;
  }
